{% extends "default.html"%}
{% block content%}

			<div class="loginform border box-shadow-medium">
				<form method="POST" action="">				
					<legend>Change password</legend>
					<div class="formgroup">
						<label id="inputlabel">New Password</label>
						<input type="password" name="password" id="input" required>
					</div>
					<div class="formgroup">
						<label id="inputlabel">Confirm New Password</label>
						<input type="Password" name="confirm_password" id="input" required>
						{% if error['password'] %}
							<small class="form-error">Password did not match!</small>
						{% endif %}
					</div>
					<div class="formgroup">
						<button class="btn btn-primary"type="submit">Reset</button>
					</div>
				</form>
			</div>
{% endblock content %}