<!DOCTYPE html>
<html>
<head>
	{% if title %}
		<title> {{ title }} </title>
	{%else%}
		<title>App</title>
	{%endif%}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>
	
<body>
	<header>
		<a href="{{url_for('main.home')}}"><h2>Noter</h2></a>
		<nav>
			<ul>
				{% if current_user.is_authenticated %}
				<li><a href="{{url_for('notes.new_note') }}">New Note</a></li>
				<li><a href="{{url_for('notes.notes') }}">Your Notes</a></li>
				<li><a href="{{url_for('users.profile') }}">Profile</a></li>
				<li><a href="{{url_for('users.logout') }}">Logout</a></li>
				{%else%}
				<li><a href="{{url_for('users.login') }}">Login</a></li>
				<li><a href="{{url_for('users.register') }}">Register</a></li>
				{%endif%}
				
			</ul>
		</nav>
	</header>
	<section class="main">
		{% block content %}{% endblock content%}
	</section>
	<footer>
		<p>&copy;<b>Copyright 2021</b> Created by : <b>Umair mehmood</b> Source Code available at :<a href="">Github</a></p>
	</footer>
<script type="text/javascript">
	var errors= document.getElementsByClassName("form-error");
	for(var x=0;x<errors.length;x++){
		errors[x].style.color = "red";
	}

</script>
</body>
</html>