{% extends "default.html" %}
{% block content %}
<div class="notebox boxone">
			<div class="titlebar">
				<div class="one"></div>
				<div class="two"></div>
				<div class="three"></div>
				<p class="notetitle">Title for your note</p>
			</div>
			<div class="notetextarea">
				<p class="notetext">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				</p>
			</div>
		</div>
		<div class="notebox boxtwo">
			<div class="titlebar">
				<div class="one"></div>
				<div class="two"></div>
				<div class="three"></div>
				<p class="notetitle">Title for your note</p>
			</div>
			<div class="notetextarea">
				<p class="notetext">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				</p>
			</div>
		</div>
		<div class="notebox boxthree">
			<div class="titlebar">
				<div class="one"></div>
				<div class="two"></div>
				<div class="three"></div>
				<p class="notetitle">Title for your note</p>
			</div>
			<div class="notetextarea">
				<p class="notetext">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				</p>
			</div>
		</div>
{% endblock content %}