{% extends "default.html"%}
{% block content%}
<div class="profilesection border box-shadow-medium">
			<div class="imgandname">
				<div class="img_box">
				<img src="{{ url_for('static',filename = 'images/default.png') }}" class="p_img">
			</div>			
			<h2>{{current_user.username}}</h2>
			</div>
			<div class="profileinfo">
				<p>Email : <span>{{current_user.email}}</span></p>
				<p>Joined Date : <span>{{ current_user.join_date.strftime("%b %d, %Y") }}</span></p>
				<p>Total Notes : <span>{{ number_of_notes }}</span></p>
				<p>Last Login Date and Time : <span>{{ current_user.last_login_dt.strftime("%b %d, %Y , %I:%M:%S") }}</span></p>
				<a href="{{url_for('users.change_password')}}">Change Password</a>
			</div>
</div>
{% endblock content%}