{% extends "default.html"%}
{% block content%}

			<div class="loginform border box-shadow-medium">
				<form method="POST" action="">				
					<legend>Register</legend>
					<div class="formgroup">
						<label id="inputlabel">Username</label>
						<input type="text" name="username" id="input" required>
						{% if error['username'] %}
							<small class="form-error">Username Already exit take another</small>
						{% endif %}
					</div>

					<div class="formgroup">
						<label id="inputlabel">Email</label>
						<input type="email" name="email" id="input" required>
						{% if error['email'] %}
							<small class="form-error">Email already Exit</small>		
						{% endif %}
					</div>
					<div class="formgroup">
						<label id="inputlabel">Password</label>
						<input type="password" name="password" id="input" required>
					</div>
					<div class="formgroup">
						<label id="inputlabel">Confirm Password</label>
						<input type="Password" name="confirm_password" id="input" required>
						{% if error['password'] %}
							<small class="form-error">Password did not match!</small>
						{% endif %}
					</div>
					<div class="formgroup">
						<button class="btn btn-primary"type="submit">Register</button>
						<p>Already have an account? <a href="{{ url_for('users.login') }}">Login here</a></p>
					</div>
				</form>
			</div>
{% endblock content %}