{% extends "default.html"%}
{% block content%}

			<div class="loginform">
				<form method="POST" action="">				
					<legend>Reset Pasword Request</legend>
					<div class="formgroup">
						<label id="inputlabel">Email</label>
						<input type="email" name="email" id="input" required>
						{% if error['email'] %}
							<small class="form-error">Email is not Registered</small>		
						{%endif%}
					</div>
					<div class="formgroup">
						<button class="btn btn-primary"type="submit">Request</button>
						<p>Remember password ? <a href="{{ url_for('users.login') }}">Login here</a></p>
					</div>
				</form>
			</div>
{% endblock content %}

