{% extends "default.html"%}
{% block content%}

			<div class="loginform">
				{% if error['invalid']%}
				<p>Link has expired</p>
				{% else %}
				<form method="POST" action="#">				
					<legend>Reset Password</legend>
					<div class="formgroup">
						<label id="inputlabel">Password</label>
						<input type="password" name="password" id="input" required>
					</div>
					<div class="formgroup">
						<label id="inputlabel">Confirm Password</label>
						<input type="Password" name="confirm_password" id="input" required>
						{% if error['password'] %}
							<small class="form-error">Password did not match!</small>
						{% endif %}
					</div>
					<div class="formgroup">
						<button class="btn btn-primary"type="submit">Reset</button>
					</div>
				</form>
				{% endif %}
			</div>
{% endblock content %}