{% extends "default.html"%}
{% block content%}
<div class="newnoteform">
			<form method="POST" action="#">
				
					<legend>Viewing Note</legend>
					<div class="formgroup">
					<label id="inputlabel">Title</label><br>
					<input type="title" name="notetitle" id="input" value="{{note.title.replace('-',' ')}}" disabled>
				</div>
				<div class="formgroup">
					<label id="inputlabel">Content</label><br>
					<textarea id="textarea"  disabled>{{note.content}}</textarea>
				</div>
				<div class="formgroup">
					<div class="actions">
						<a class="action-btn btn-edit" href="{{url_for('notes.edit_note',id=note.id,title=note.title)}}">Edit</a>
						<a class="action-btn btn-delete" href="{{url_for('notes.delete_note',id=note.id,title=note.title)}}">Delete</a>
						<a class="action-btn btn-view" href="javascript:history.back()">Back</a>
					</div>
				</div>
			</form>
		</div>
{% endblock content%}