{% extends "default.html"%}
{% block content%}
<div class="loginform border box-shadow-medium">
			<form method="POST" action="">
				
					<legend>User Login</legend>

					<div class="formgroup">
					<label id="inputlabel">Email</label>
					<input type="email" name="email" id="input" required>
					{% if error['user'] %}
							<small class="form-error">Email or password is incorrect</small>		
						{% endif %}
				</div>
				<div class="formgroup">
					<label id="inputlabel">Password</label>
					<input type="Password" name="password" id="input">
					{% if error['password'] %}
							<small class="form-error">Email or password is incorrect</small>		
					{% endif %}

				</div>
				<div class="formgroup">
					<button class="btn btn-primary"type="submit">Login</button>
					<p>Forget Password <a href="{{ url_for('users.reset_password_request')}}">Reset here</a></p>
					<p>Did not have account? <a href="{{ url_for('users.register') }}">Register here</a></p>

				</div>
			</form>
		</div>
{% endblock content%}